* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.main-body-container {
  display: grid;
  place-items: center;
  align-items: center;
}
.main-body-container .body-container {
  background-color: #fff;
  margin-top: 35%;
  border: none;
  height: 73vh;
  width: 85%;
  border-radius: 30px;
  position: relative;
}
.main-body-container .body-container .image-container {
  justify-content: center;
  position: absolute;
  bottom: 67%;
  text-align: center;
}
.main-body-container .body-container .image-container .img1 {
  width: 70%;
}
.main-body-container .body-container .image-container .img2 {
  position: relative;
  bottom: 68px;
  width: 70%;
}
.main-body-container .body-container .text-container {
  margin-top: 30%;
  display: grid;
  margin-left: 20px;
  color: #787887;
}
.main-body-container .body-container .text-container i {
  color: #f47c57;
  align-self: center;
}
.main-body-container .body-container .text-container .itm1 {
  margin-left: 18%;
}
.main-body-container .body-container .text-container .itm2 {
  margin-left: 18%;
}
.main-body-container .body-container .text-container .itm2-down {
  margin-left: 18%;
  display: none;
}
.main-body-container .body-container .text-container .itm3 {
  margin-left: 36%;
}
.main-body-container .body-container .text-container .itm4 {
  margin-left: 35%;
}
.main-body-container .body-container .text-container .itm5 {
  margin-left: 24%;
}
.main-body-container .body-container .text-container h1 {
  margin: 10% 14%;
  text-align: center;
  color: #1d1e35;
  font-weight: bold;
  font-size: 32px;
}
.main-body-container .body-container .text-container hr {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 93%;
  background-color: #e7e7e9;
}
.main-body-container .body-container .text-container .headings:hover {
  color: #f47c57;
}
.main-body-container .body-container .item1 {
  display: flex;
}
.main-body-container .body-container .item2 .tem2 {
  display: flex;
}
.main-body-container .body-container .item2 .tem2 p {
  color: #1d1e35;
  font-weight: 700;
}
.main-body-container .body-container .item2 .tem2 p:hover {
  color: #f47c57;
}
.main-body-container .body-container .item2 .item2-msg {
  margin-top: 10px;
}
.main-body-container .body-container .item3 {
  display: flex;
}
.main-body-container .body-container .item4 {
  display: flex;
}
.main-body-container .body-container .item5 {
  display: flex;
}

@media (min-width: 768px) {
  .body-container {
    display: grid;
    position: relative;
    grid-template-columns: 50% 40%;
    width: 15%;
  }

  .image-container {
    position: absolute;
    display: block;
    top: 100px;
    right: 50%;
  }
  .text-container {
    grid-column: 2;
    position: relative;
  }

  h1 {
    color: red;
  }

  hr {
    width: 15%;
    height: 1px;
  }

  .itm1 {
    margin-left: 90px;
  }

  .itm2 {
    margin-left: 18%;
  }

  .itm2-down {
    margin-left: 18%;
    display: none;
  }

  .itm3 {
    margin-left: 36%;
  }

  .itm4 {
    margin-left: 35%;
  }

  .itm5 {
    margin-left: 24%;
  }
}/*# sourceMappingURL=styles.css.map */