* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height:100vh;
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;

}

.main-body-container {
  display: grid;
  place-items: center;
  align-items: center;
  
  .body-container {
    background-color: #fff;
    margin-top: 35%;
    border: none;
    height: 73vh;
    width: 85%;
    border-radius: 30px;
    position: relative;


    .image-container {
      
      justify-content: center;
      position: absolute;
      bottom: 67%;
      text-align: center;

    .img1{
      width: 70%;
      
    }
    .img2{
      position: relative;
      bottom: 68px;
      
      width: 70%;
    }
  }

    .text-container {
      margin-top: 30%;
      display: grid;
      margin-left: 20px;
      color: hsl(240, 6%, 50%);
      
      i {
        color: hsl(14, 88%, 65%);
        align-self: center;
        
      }
      
      .itm1 {
        margin-left: 18%;
      }
      .itm2 {
        margin-left: 18%;
        
      }
      .itm2-down {
        margin-left: 18%;
        display: none;
      }
      .itm3 {
        margin-left: 36%;
      }
      .itm4 {
        margin-left: 35%;
      }
      .itm5 {
        margin-left: 24%;
      }


    h1{
      margin: 10% 14%;
      text-align: center;
      color: hsl(238, 29%, 16%);
      font-weight: bold;
      font-size: 32px;
    }

    hr{
      margin-top:15px;
      margin-bottom: 15px;
      width: 93%;
      background-color:  hsl(240, 5%, 91%);
    }

    .headings {
    
    &:hover {
      color: hsl(14, 88%, 65%) ;
    }
    }
     
    }
    .item1{
      display: flex;

    }


    .item2{

      .tem2{
      display: flex;

    p{
      color: hsl(238, 29%, 16%);
      font-weight: 700;
      &:hover {
        color: hsl(14, 88%, 65%) ;
      }
    }
  }
  
  .item2-msg {
    margin-top: 10px;
    // display: block;
    }

    }



    .item3{
      display: flex;

    }


    .item4{
      display: flex; 

    }

    .item5{
      display: flex; 

    }


    }



  }


  

  
  
  
  @import "./desktopview";


